[Adblock Plus 2.0]
! Title: AdBlockID
! Description: Filter list that specifically removes adverts on Indonesian language websites.
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
!
%include abid:adBlockid.adbl%
