name: Remove 'Needs more info' labels on issue closed

on:
  issues:
    types: [closed]

jobs:
  remove_label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            const issue_number = context.issue.number;

            const needsMoreInfo = 'needs-more-info';

            const issueLabelsRaw = await github.rest.issues.listLabelsOnIssue({
              owner,
              repo,
              issue_number,
            });

            const issueLabels = issueLabelsRaw.data.map(el => el.name);

            if (issueLabels.includes(needsMoreInfo)) {
              await github.rest.issues.removeLabel({
                owner,
                repo,
                issue_number,
                name: needsMoreInfo,
              });
            }
